<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DengageApiUrl</key>
    <string>https://push.dengage.com</string>
    <key>DengageDeviceIdApiUrl</key>
    <string>https://magento.232.dengage.shobii.com/rest/</string>
    <key>DengageEventApiUrl</key>
    <string>https://push.dengage.com</string>
	<key>DengageGeofenceApiUrl</key>
	<string>https://push.dengage.com/geoapi/</string>
	<key>DengageInAppApiUrl</key>
	<string>https://push.dengage.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>fetchRealTimeINAPPURL</key>
	<string>https://tr-inapp.lib.dengage.com</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Dengage will use your location always and when in use!</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Dengage will use your location always!</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Dengage will use your location when in use!</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>Dengage uses your advertising identifier!</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>testiospriya</string>
            </array>
            <key>CFBundleURLName</key>
            <string></string>
        </dict>
    </array>
</dict>
</plist>

