<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DengageApiUrl</key>
	<string>https://us-push.dengage.com/</string>
	<key>DengageDeviceIdApiUrl</key>
	<string>https://magento.232.dengage.shobii.com/rest/</string>
	<key>DengageEventApiUrl</key>
	<string>https://us-event.dengage.com</string>
	<key>DengageInAppApiUrl</key>
	<string>https://us-push.dengage.com/</string>
</dict>
</plist>
