<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dengage</string>
			</array>
		</dict>
	</array>
	<key>DengageApiUrl</key>
	<string>https://d.tani.com.tr/</string>
	<key>DengageDeviceIdApiUrl</key>
	<string>https://magento.232.dengage.shobii.com/rest/</string>
	<key>DengageEventApiUrl</key>
	<string>https://d.tani.com.tr</string>
	<key>DengageInAppApiUrl</key>
	<string>https://d.tani.com.tr/</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>fetchRealTimeINAPPURL</key>
	<string>https://d.tani.com.tr/api/realtime-inapp/</string>
</dict>
</plist>
